.calendar-container{
    height: 44px;
    min-width: 180px;
    padding: 10px 12px;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    justify-content: space-between;
    border-radius: 6px;
    gap: 20px;
    position: relative;
    background: #edf2f7;
    > .panel-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        > label {
            cursor: pointer;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }
}

.data-container {
    width: 280px;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 10000;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.13);
    padding: 13px;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    > label {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        > span {
            cursor: pointer;
        }
    }
    > button {
        background: none;
        border: none;
        padding: 0;
        > img {
            padding: 0;
            width: 38px;
            cursor: pointer;
        }
    }
}


.calendar-data{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 8px;
    > .days-of-week {
        grid-column: 1/8;
        display: grid;
        grid-column-gap: 7px;
        grid-template-columns: repeat(7, 1fr);
        > label {
            text-align: center;
            color: #9394AA;
            font-size: 14px;
            font-weight: 500;
        }
    }
    > .days-of-calendar {
        grid-column: 1/8;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 8px;
        button {
            transition: all 0.1s ease;
            border: none;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.107px;
            padding: 3px;
            height: 33px;
            cursor: pointer;
            border-radius: 4px;
        }
        button:hover{
            opacity: 0.4 !important;
        }
        > .inactive {
            opacity: 0.4 !important;
        }
        > .inactive:hover{
            opacity: 0.4 !important;
        }
    }
}

.years-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3px;
    grid-column-gap: 13px;
    > button {
        transition: all 0.1s ease;
        border: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.107px;
        padding: 3px;
        height: 38px;
        cursor: pointer;
        border-radius: 4px;
    }
    > button:hover{
        opacity: 0.7 !important;
    }
}
.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 13px;
    > button {
        cursor: pointer;
        border: none;
        background: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px; /* 128.571% */
        letter-spacing: 0.2px;
    }
}